
body {
  background-image: url('../static/thunder-background.jpg');
  background-size: cover;
}

img {
  width: 50px;
  transform: scaleX(-1);
  margin-top: -80px;
}
#headerButtons {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  align-content: center;
  flex-direction: row;
  margin-right: 3em;
  margin-left: 3em;
}

#imgWrapper {
  align-self: center;
  position: relative;
}

#BoxContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
}

.boxes {
  flex-grow: 0.75;
  max-width: 500px;
  // height: 480px;
  font-family: monospace;
}

.searchedContainer {
  width: 180px;
  justify-self: flex-start;
  font-size: 12px;
  background-color: rgb(8, 7, 20);
  color: lime;
  border-radius: 5px;
  position: absolute;
}

.element {
  margin-inline-end: 5%;
  border-bottom: 1px solid lightgray;
  word-wrap: break-word;
}

.element:hover {
  cursor: pointer;
  background-color: rgb(38, 37, 50);
}

.element span {
  color: lightgray;
}

h1 {
  text-align: center;
  margin: 25px auto;
  align-self: center;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

#SignInButtons {
  color: red;
  text-align: right;
}

.output-side {
  display: flex;
  flex-direction: column-reverse;
}

#github-signin {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#github-logo {
  height: 1.2rem;
  width: 1.2rem;
  margin-right: .5rem;
  margin-bottom: .2rem;
}

#goose {
  transform: scaleX(1);
}

#main-header {
  color: lemonchiffon;
}